<script src="/SiteAssets/Timesheet/angular.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Application-->
<script src="/SiteAssets/Timesheet/ApprovedTimesheet/approvedTimesheet.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/SiteAssets/Timesheet/spcrud.js"></script>
<link rel="stylesheet" href="/SiteAssets/Timesheet/ApprovedTimesheet/approvedTimesheet.css">

<div ng-app="ApprovedTimesheeApp">
    <div ng-controller="ApprovedTimesheetController">
        <!-- BEGIN CONTENT BODY -->
        <div class="spinner" ng-hide="spinnerloaded"></div>
        <span ng-hide="spinnerloaded">
				Loading.....
			</span>
        <div ng-cloak="" ng-show="spinnerloaded">
            <div class="page-content">
                <!-- <ul class="page-breadcrumb breadcrumb hidden-xs">

                </ul> -->

                <div class="col-md-12">
                    <div class="col-md-2"  >
                        <label style="margin-left: -90px;">Employee :</label>
                        <select id="filter-online" ng-model="vm.employees" ng-options="emp for emp in employees | orderBy:'emp'" ng-change="FilterSystem(vm.employees,vm.startDate,vm.StatusDropdown,vm.PendingApproversArray)"
                            class="form-control">
                                    <option value="" >All</option>
                            </select>
                    </div>
                    <div class="col-md-3" style="margin-left: 20px;">
                        <label style="margin-left: -180px;">Start Date :</label>
                        <input id="dateStart" class="form-control" type="date" ng-model="vm.startDate" ng-change="FilterSystem(vm.employees,vm.startDate,vm.StatusDropdown,vm.PendingApproversArray)">
                    </div>
                    <div class="col-md-2" style="margin-left: -70px;">
                        <label style="margin-left: -110px;">Status :</label>
                        <select id="filter-online" ng-model="vm.StatusDropdown" ng-change="FilterSystem(vm.employees,vm.startDate,vm.StatusDropdown,vm.PendingApproversArray)" class="form-control">
                                   <option value="" >All</option>
                                   <option  value= "{{StatusDropdown[0]}}">{{StatusDropdown[0]}}</option>
                                   <option  value="{{StatusDropdown[1]}}">{{StatusDropdown[1]}}</option>
                               </select>
                    </div>
                    <div class="col-md-3" style="margin-left: 23px;">
                        <label style="margin-left: -128px;">Pending Approvers :</label>
                        <select id="filter-online" ng-model="vm.PendingApproversArray" ng-options="Pending for Pending in PendingApproversArray | orderBy:'Pending'" ng-change="FilterSystem(vm.employees,vm.startDate,vm.StatusDropdown,vm.PendingApproversArray)" class="form-control">
                            <option value="" >All</option>
                        </select>
                    </div>
                    <div class="col-md-2" style="margin-left: -70px;">
                        <label style="margin-left: -73px;">Show : {{pagedItems[currentPage].length}}/{{DatalistEMPTimeSheet.length}}</label>
                        <select id="filter-online" ng-model="vm.RecordsPerPage" ng-change="showFIlter(vm.RecordsPerPage)" class="form-control">
                        <option value="{{RecordsPerPage[0]}}" >{{RecordsPerPage[0]}}</option>
                        <option  value= "{{RecordsPerPage[1]}}">{{RecordsPerPage[1]}}</option>
                        <option  value="{{RecordsPerPage[2]}}">{{RecordsPerPage[2]}}</option>
                        <option  value="{{RecordsPerPage[3]}}">{{RecordsPerPage[3]}}</option> 
                        <option  value="{{RecordsPerPage[4]}}">{{RecordsPerPage[4]}}</option> 
                    </select>
                    </div>
                </div>

                <div class="scrollTable" style="margin-top: -20px;">
                    <table id="myTable" class="table table-striped table-bordered table-hover table-checkable order-column">
                        <tr class='blueback' style="height: 30px;">
                        <th>Edit</th>
                        <th>Employee</th>
                        <th style="width: 90px !important;">Start Date</th>
                        <th style="width: 90px !important;">End Date</th>
                        <th style="width: 90px !important;">Billable Hours</th>
                        <th style="width: 90px !important;">Non-Billable Hours</th>
                        <th>Status</th>
                        <th style="width: 130px !important;">Approver User</th>
                        <th style="width: 130px !important;"> Pending Approver</th>
                        <th style="width: 90px !important;">Timesheet Submitted Date</th>
                        <th style="width: 90px !important;">Timesheet Approved Date</th>
                        </tr>
                        <tr ng-show="Rec">
                            <p ng-show="Rec"> No Records Found </p>
                        </tr>
                        <!-- <tr ng-show="Rec">  No Records Found </tr> -->
                        <tr ng-repeat="item in pagedItems[currentPage]">
                            <td><i class="fa fa-edit" style="cursor: pointer;" ng-click="ShowModal(item)"></i></td>
                            <td>{{item.Employee_x0020_Name}}</td>
                            <td>{{item.Start_x0020_Date | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.End_x0020_Date | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.Billable_x0020_Hours}}</td>
                            <td>{{item.Non_x002d_Billable_x0020_Hours}}</td>
                            <td>{{item.Submitted_x0020_Status}}</td>

                            <td style="text-align:left;">
                                <p ng-repeat="approver in item.Approver_x0020_User.results">&#9725;{{approver.Title}}</p>
                            </td>

                            <td style="text-align:left;">
                                <p ng-repeat="pendingapprover in item.Pending_x0020_Approver.results">&#9725;{{pendingapprover.Title}}</p>
                            </td>

                            <td>{{item.Timesheet_x0020_Submitted_x0020_ | date:'dd/MM/yyyy'}}</td>
                            <td>{{item.Timesheet_x0020_Approved_x0020_D | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </table>
                </div>
                <div class="scrollpaging">
                    <table class="table">
                        <tbody>
                            <tr class="pagination pull-right">
                                <td>Showing {{pagedItems[currentPage].length}}/{{DatalistEMPTimeSheet.length}}</td>
                                <td ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </td>
                                <td ng-repeat="n in range(pagedItems.length)" ng-class="{active: n == currentPage}" ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </td>
                                <td ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <modal visible="showModal">

                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="col-sm-3">
                                <h4 class="modal-title modalHead" style="float:left; width:299px;" id="modal-title">Week:{{item.Start_x0020_Date | date:'dd/MM/yyyy'}} - {{item.End_x0020_Date | date:'dd/MM/yyyy'}}</h4>                                        
                                <h5>Note : Time is in HH:MM format</h5>
                            </div>
                            <div class="col-sm-3">
                                    <h4 class="modal-title modalHead" style="float: right;margin-right:-440px;color: #207BCA!important;" id="modal-title">Status: {{item.Submitted_x0020_Status}}</h4> 
                                <h4 class="modal-title modalHead" style="float: right;margin-right: -765px;" id="modal-title">{{item.Title}} - {{item.Employee_x0020_Name}}</h4>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <button type="button" class="cancelModal" ng-click="cancel(item)">&#10005;</button>
                        </div>

                    </div>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <div class="col-sm-12">
                            <div class="col-sm-12" style="height:350px;overflow:auto;margin-top: -55px;">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                    <tr>
                                        <th class="thclass">Date</th>
                                        <th class="thclass">Project</th>
                                        <th class="thclass">Task</th>
                                        <th class="thclass">Billable Hours</th>
                                        <th class="thclass">Non-Billable Hours</th>
                                        <th class="thclass">Total Hours</th>
                                        <th class="thclass">Note for Billable Hours</th>
                                        <th class="thclass">Note for Non-Billable Hours</th>

                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Mondayhrs != null || item.Mondaynbhrs != null">
                                        <td style="text-align:left;">{{Monday}},Monday </td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Mondayhrs?item.Mondayhrs:''}}</td>
                                        <td>{{item.Mondaynbhrs?item.Mondaynbhrs:''}}</td>
                                        <td>{{monArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Mondaydesc?item.Mondaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Mondaydescnb?item.Mondaydescnb:''}}</td>
                                    </tr>

                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Tuesdayhrs != null || item.Tuesdaynbhrs != null">
                                        <td style="text-align:left;">{{Tuesday}},Tuesday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Tuesdayhrs?item.Tuesdayhrs:''}}</td>
                                        <td>{{item.Tuesdaynbhrs?item.Tuesdaynbhrs:''}}</td>
                                        <td>{{tueArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Tuesdaydesc?item.Tuesdaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Tuesdaydescnb?item.Tuesdaydescnb:''}}</td>
                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Wednesdayhrs != null || item.Wednesdaynbhrs != null">
                                        <td style="text-align:left;">{{Wednesday}},Wednesday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Wednesdayhrs?item.Wednesdayhrs:''}}</td>
                                        <td>{{item.Wednesdaynbhrs?item.Wednesdaynbhrs:''}}</td>
                                        <td>{{wedArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Wednesdaydesc?item.Wednesdaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Wednesdaydescnb?item.Wednesdaydescnb:''}}</td>
                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Thursdayhrs != null || item.Thursdaynbhrs != null">
                                        <td style="text-align:left;">{{Thursday}},Thursday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Thursdayhrs?item.Thursdayhrs:''}}</td>
                                        <td>{{item.Thursdaynbhrs?item.Thursdaynbhrs:''}}</td>
                                        <td>{{thuArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Thursdaydesc?item.Thursdaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Thursdaydescnb?item.Thursdaydescnb:''}}</td>
                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Fridayhrs != null || item.Fridaynbhrs != null">
                                        <td style="text-align:left;">{{Friday}},Friday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Fridayhrs?item.Fridayhrs:''}}</td>
                                        <td>{{item.Fridaynbhrs?item.Fridaynbhrs:''}}</td>
                                        <td>{{friArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Fridaydesc?item.Fridaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Fridaydescnb?item.Fridaydescnb:''}}</td>
                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Saturdayhrs != null || item.Saturdaynbhrs != null">
                                        <td style="text-align:left;">{{Saturday}},Saturday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Saturdayhrs?item.Saturdayhrs:''}}</td>
                                        <td>{{item.Saturdaynbhrs?item.Saturdaynbhrs:''}}</td>
                                        <td> {{satArray[$index]}} </td>
                                        <td style="text-align:left;">{{item.Saturdaydesc?item.Saturdaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Saturdaydescnb?item.Saturdaydescnb:''}}</td>
                                    </tr>
                                    <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Sundayhrs != null || item.Sundaynbhrs != null">
                                        <td style="text-align:left;">{{Sunday}},Sunday</td>
                                        <td>{{item.Project.Title}}</td>
                                        <td>{{item.Task}}</td>
                                        <td>{{item.Sundayhrs?item.Sundayhrs:''}}</td>
                                        <td>{{item.Sundaynbhrs?item.Sundaynbhrs:''}}</td>
                                        <td>{{sunArray[$index]}}</td>
                                        <td style="text-align:left;">{{item.Sundaydesc?item.Sundaydesc:''}}</td>
                                        <td style="text-align:left;">{{item.Sundaydescnb?item.Sundaydescnb:''}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><b>Total :</b></td>
                                        <td><b>{{TotalBillableHr}}</b></td>
                                        <td><b>{{TotalNonBillableHr}}</b></td>
                                        <td><b>{{TotalHr}}</b></td>
                                        <td><b></b></td>
                                        <td><b></b></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="ApproveRejectVisibility" style="margin-top: -30px;" >
                            <label for="exampleTextarea" style="float:  left; margin-left:  2px !important;font-weight:  600 !important; margin-top: -15px !important;" >Comment:</label>
                            <textarea class="form-control" ng-show="ApproveRejectVisibility" id="exampleTextarea" rows="3" ng-model="Comments"></textarea>
                        </div>
                        <div class="col-sm-12" ng-show="ApproveRejectVisibility">
                            <div class="col-sm-6" id="buttons">
                                <button class="saveBtn" ng-show="ApproveRejectVisibility" type="button" ng-click="Approve(Comments)">Approve</button>

                            </div>
                            <div class="col-sm-6" id="buttons">
                                <button class="cancelBtn" ng-show="ApproveRejectVisibility" type="button" ng-click="Reject(Comments)">Reject</button>
                            </div>

                        </div>

                    </div>
                </div>

            </modal>
            <!-- <modal visible="showModal" >
              
                <div class="modal-header">
                    <!-- <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <div class="row">
                        <div class="col-sm-6">
                            <h3 class="modal-title modalHead" style="float:left;" id="modal-title">Project Timesheet Status : {{item.Project_x0020_Timesheet_x0020_St}}</h3>
                        </div>
                        <div class="col-sm-6">
                            <button type="button" class="cancelModal" ng-click="cancel(item)">&#10005;</button>
                        </div>
                    </div>
                </div>
                <div class="modal-body" style="margin-top: -61px !important;">
                     <div class="form-group"> 
                    
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column">
                                <tr>
                                    <th class="thclass">Date</th>
                                    <th class="thclass">Project</th>
                                    <th class="thclass">Task</th>

                                    <th class="thclass">Billable Hours</th>
                                    <th class="thclass">Non-Billable Hours</th>
                                    <th class="thclass">Total Hours</th>
                                    <th class="thclass">Note for Billable Hours</th>
                                    <th class="thclass">Note for Non-Billable Hours</th>

                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Mondayhrs != null || item.Mondaynbhrs != null">
                                    <td ng-if="$index == 0">{{Monday}},Monday </td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Mondayhrs?item.Mondayhrs:''}}</td>
                                    <td>{{item.Mondaynbhrs?item.Mondaynbhrs:''}}</td>
                                    <td>{{monArray[$index]}}</td>
                                    <td>{{item.Mondaydesc?item.Mondaydesc:''}}</td>
                                    <td>{{item.Mondaydescnb?item.Mondaydescnb:''}}</td>
                                </tr>

                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Tuesdayhrs != null || item.Tuesdaynbhrs != null">
                                    <td ng-if="$index == 0">{{Tuesday}},Tuesday</td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Tuesdayhrs?item.Tuesdayhrs:''}}</td>
                                    <td>{{item.Tuesdaynbhrs?item.Tuesdaynbhrs:''}}</td>
                                    <td>{{tueArray[$index]}}</td>
                                    <td>{{item.Tuesdaydesc?item.Tuesdaydesc:''}}</td>
                                    <td>{{item.Tuesdaydescnb?item.Tuesdaydescnb:''}}</td>
                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Wednesdayhrs != null || item.Wednesdaynbhrs != null">
                                    <td ng-if="$index == 0">{{Wednesday}},Wednesday</td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Wednesdayhrs?item.Wednesdayhrs:''}}</td>
                                    <td>{{item.Wednesdaynbhrs?item.Wednesdaynbhrs:''}}</td>
                                    <td>{{wedArray[$index]}}</td>
                                    <td>{{item.Wednesdaydesc?item.Wednesdaydesc:''}}</td>
                                    <td>{{item.Wednesdaydescnb?item.Wednesdaydescnb:''}}</td>
                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Thursdayhrs != null || item.Thursdaynbhrs != null">
                                    <td ng-if="$index == 0">{{Thursday}},Thursday</td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Thursdayhrs?item.Thursdayhrs:''}}</td>
                                    <td>{{item.Thursdaynbhrs?item.Thursdaynbhrs:''}}</td>
                                    <td>{{thuArray[$index]}}</td>
                                    <td>{{item.Thursdaydesc?item.Thursdaydesc:''}}</td>
                                    <td>{{item.Thursdaydescnb?item.Thursdaydescnb:''}}</td>
                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Fridayhrs != null || item.Fridaynbhrs != null">
                                    <td ng-if="$index == 0">{{Friday}},Friday</td>
                                    <td ng-if="$index >=1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Fridayhrs?item.Fridayhrs:''}}</td>
                                    <td>{{item.Fridaynbhrs?item.Fridaynbhrs:''}}</td>
                                    <td>{{friArray[$index]}}</td>
                                    <td>{{item.Fridaydesc?item.Fridaydesc:''}}</td>
                                    <td>{{item.Fridaydescnb?item.Fridaydescnb:''}}</td>
                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet" ng-if="item.Saturdayhrs != null || item.Saturdaynbhrs != null">
                                    <td ng-if="$index == 0">{{Saturday}},Saturday</td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td>{{item.Project.Title}}</td>
                                    <td>{{item.Task}}</td>
                                    <td>{{item.Saturdayhrs?item.Saturdayhrs:''}}</td>
                                    <td>{{item.Saturdaynbhrs?item.Saturdaynbhrs:''}}</td>
                                    <td> {{satArray[$index]}} </td>
                                    <td>{{item.Saturdaydesc?item.Saturdaydesc:''}}</td>
                                    <td>{{item.Saturdaydescnb?item.Saturdaydescnb:''}}</td>
                                </tr>
                                <tr ng-repeat="item in DatalistTimeSheet"  ng-if="item.Sundayhrs != null || item.Sundaynbhrs != null" ng-init="ind == $index" >
                                    <td ng-if="$index ==" >{{Sunday}},Sunday</td>
                                    <td ng-if="$index >= 1"> </td>
                                    <td >{{item.Project.Title}}</td>
                                    <td >{{item.Task}}</td>
                                    <td >{{item.Sundayhrs?item.Sundayhrs:''}}</td>
                                    <td >{{item.Sundaynbhrs?item.Sundaynbhrs:''}}</td>
                                    <td >{{sunArray[$index]}}</td>
                                    <td >{{item.Sundaydesc?item.Sundaydesc:''}}</td>
                                    <td >{{item.Sundaydescnb?item.Sundaydescnb:''}}</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Total :</b></td>
                                    <td><b>{{TotalBillableHr}}</b></td>
                                    <td><b>{{TotalNonBillableHr}}</b></td>
                                    <td><b>{{TotalHr}}</b></td>
                                    <td><b></b></td>
                                    <td><b></b></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12" ng-show="ApproveRejectVisibility">
                            <label for="exampleTextarea" style="float:left;">Comment</label>
                            <textarea class="form-control" ng-show="ApproveRejectVisibility" id="exampleTextarea" rows="3" ng-model="Comments"></textarea>
                        </div>
                        <div class="col-sm-12" ng-show="ApproveRejectVisibility">
                            <div class="col-sm-6" id="buttons">
                                <button class="saveBtn" ng-show="ApproveRejectVisibility" type="button" ng-click="Approve(Comments)">Approve</button>

                            </div>
                            <div class="col-sm-6" id="buttons">
                                <button class="cancelBtn" ng-show="ApproveRejectVisibility" type="button" ng-click="Reject(Comments)">Reject</button>
                            </div>
                        </div>
                   
                     </div> 
                </div>
            
            </modal> -->
            <!-- ///////////////////////
                                      </table>
                                    </div>
                            <div class="col-sm-6" id="block" >
                               
                            <label>Comment</label>
                                <textarea id="exampleTextarea" rows="3" ng-show="ApproveRejectVisibility" ng-model="Comments" style="height: 50px; width: 450px;"></textarea>
                            
                            </div>

                            <div class="col-sm-6" id="buttons">
                            <button class="saveBtn" id="saveBtn" ng-show="ApproveRejectVisibility" class="btn btn-green btn-large" type="button" ng-click="Approve(Comments)">Approve</button>
                                
                            <button class="cancelBtn" id="cancelBtn" ng-show="ApproveRejectVisibility" class="btn btn-green btn-large" type="button" ng-click="Reject(Comments)">Reject</button>
                            
                            <button type="button" class="cancelModal"class="btn btn-green btn-large" ng-click="cancel(item)">Cancel</button>
                            </div>
                             </div>
                        </div>  
                    </div>
                   </modal> -->
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>